@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #FFF3E8;
  font-size: 1.4rem;
  color: #333333;
}

html {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.custom-scrollbar-thumb {
  background-color: #666666 !important;
  border-radius: 0 !important;
  transition: background-color .5s;
}

.custom-scrollbar-thumb:hover {
  background-color: #0085FF !important;
}

.custom-scrollbar-track {
  background-color: #222222 !important;
}

header {
  height: calc(600px + 20vh);
  width: 100%;
  background-color: #222222;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logotype {
  margin-top: 5%;
  width: 924px;
  z-index: 1;
}

#logotype p {
  margin: 0;
  font-size: 14.4rem;
  line-height: 12.8rem;
  font-weight: bold;
  color: white;
  display: block;
  text-shadow: 0 0 100px black;
}

#company {
  text-align: right;
}

#header_slider_box {
  position: absolute;
  overflow: hidden;
  width: inherit;
  height: inherit;
}

#header_slider {
  display: flex;
  position: relative;
  list-style-type: none;
  justify-content: center;
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
}

.img_box {
  position: absolute;
  box-sizing: border-box;
  width: auto;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 5s;
  -moz-transition: opacity 5s;
  -o-transition: opacity 5s;
  transition: opacity 5s;
}

.img_box img {
  pointer-events: none;
  width: inherit;
  height: inherit;
}

.showing {
  opacity: 1;
}

.menu_bar {
  margin: 0;
  margin-top: -1px;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #222222;
  position: absolute;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.25);
  z-index: 4;
}

.menu {
  margin: 0 auto 0 auto;
  padding: 0;
  width: 1024px;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  list-style-type: none;
}

.menu_button {
  width: 100%;
}

.menu_link {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding: 1.8rem;
  transition: background-color .5s, color .5s;
}

.menu_link:hover {
  background-color: #0085FF;
}

.active_page .menu_link {
  background-color: #444444;
  font-weight: 700;
}

#page {
  max-width: 1024px;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
  padding: 0 5vw;
  background-color: #ffffff;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.25);
}

#page h1 {
  font-size: 3.6rem;
  background: linear-gradient(0.25turn, rgba(0, 133, 255, 0.25), #ffffff);
  padding: .5rem 2rem;
  margin: 4rem 0;
}

#page h1:nth-child(odd) {
  text-align: right;
  background: linear-gradient(0.25turn, #ffffff, rgba(0, 133, 255, 0.25));
}

.server_box {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  margin-bottom: 4rem;
}

.server_box::last-child {
  margin-bottom: 0;
}

.server_box img {
  width: 10rem;
  height: 10rem;
}

.server_box .info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.server_box .info h2 {
  font-weight: bold;
  font-size: 2.4rem;
  margin: 0;
}

.server_box .ip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.server_box .ip a, .server_box .ip p {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 0;
  margin-right: 2rem;
}

.server_box .ip a {
  color: #0085FF;
}

.online {
  background: linear-gradient(0.25turn, #ffffff, rgba(67, 255, 1, 0.25));
}

.offline {
  background: linear-gradient(0.25turn, #ffffff, rgba(255, 123, 1, 0.25));
}
