footer
    #navigation
        ul.navList
            li.navItem
                h1 Главная
            li.navItem
                a(href="#servers") Сервера
            li.navItem
                a(href="news") Новости
        ul.navList
            li.navItem
                h1 Играть
            li.navItem
                a(href="#" target="_blank") Лаунчер Mojang
            li.navItem
                a(href="#") Наш Лаунчер
        ul.navList
            li.navItem
                h1 Донат
            li.navItem
                a(href="#") Задонатить
        ul.navList
            li.navItem
                h1 Инфо
            li.navItem
                a(href="#") Правила
            li.navItem
                a(href="#") Команды
            li.navItem
                a(href="#") Механики
    span#copyright © 2016-2021 SeriousCompany. All Rights Reserved.