extends ../layouts/layout.pug

block main
    #page
        h1 Сервера
        .server_box.online
            img(src="images/server_logos/logo_1.png", alt="")
            .info
                h2 Experimental
                .ip
                    a 1.16.5
                    p IP: 
                        a seriouscompany.ru:25565
        .server_box.offline
            img(src="images/server_logos/logo_1.png", alt="")
            .info
                h2 Experimental
                .ip
                    a 1.16.5
                    p IP: 
                        a seriouscompany.ru:25565
        h1 Новости
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci tortor, lacinia nec tristique in, laoreet vitae nunc. In fermentum ligula ac ipsum ullamcorper, a porta augue elementum. Donec efficitur sollicitudin diam bibendum ultrices. Integer fermentum finibus nibh ut maximus. Aenean aliquet velit id diam fringilla faucibus. Vestibulum ut scelerisque tellus. Mauris pulvinar imperdiet quam, sit amet tincidunt ligula. Proin ultricies suscipit interdum. Vestibulum ultrices magna vel massa laoreet, eu scelerisque dui porttitor. Donec urna dui, consequat quis condimentum at, finibus sit amet dolor.
        p Pellentesque tempor at eros et iaculis. Sed id molestie lacus. Donec a mattis mauris. Fusce eget risus quis leo ultrices faucibus. Proin at ligula sapien. Vivamus efficitur nunc id ipsum pretium, id ornare dui elementum. Quisque lobortis sollicitudin nibh, faucibus congue nisi scelerisque non. Donec eu orci lacinia, laoreet justo nec, sollicitudin massa. Nullam egestas mi lectus, vitae malesuada felis efficitur in. Suspendisse massa ligula, vulputate ac dictum id, mattis et velit. Nulla facilisi. Nunc dapibus ultrices risus, auctor pharetra eros maximus eleifend. Praesent et turpis ut tellus placerat auctor.
        p Morbi at velit eu massa finibus posuere a eget enim. Nulla et nibh quis nulla varius ultricies. Pellentesque sed faucibus nisl. Donec sagittis metus nisi, quis ultrices massa condimentum eu. Integer ipsum turpis, accumsan in volutpat non, vulputate vitae enim. Cras quis pharetra orci, et tempus quam. Duis nisi tellus, porta non mauris nec, pretium efficitur diam. Maecenas non tempus sem. Vestibulum et quam dapibus, egestas sem eu, vulputate ligula. Nam at arcu a turpis tempor rutrum. Pellentesque lectus nibh, vulputate id mauris in, tempus tempus ligula. Nulla dolor nisi, finibus non arcu et, vulputate aliquet ex. Morbi consectetur lobortis lacus, vel volutpat est finibus quis. Vivamus tempus pellentesque libero, quis molestie metus varius quis.
        p Etiam quis purus nec magna vehicula fringilla eget vel nulla. Integer ac mauris et arcu congue molestie et id nisi. Morbi luctus pellentesque libero, sed finibus justo maximus ut. Aenean lacus odio, consectetur vel ornare eu, posuere ut nibh. Mauris tincidunt purus et nisi consequat commodo. Proin eu interdum justo. Nam semper sem in odio pharetra, non blandit diam placerat. Phasellus iaculis porta leo sed pulvinar. Sed fringilla purus sit amet tellus imperdiet commodo. Praesent quis enim molestie, egestas mi non, feugiat diam.
        p Nulla id augue vel mi ornare lacinia eget vel turpis. Pellentesque a turpis at lorem dapibus pharetra. Fusce lobortis justo nec luctus pulvinar. Curabitur finibus lacus in tempus semper. Duis dignissim enim quis enim placerat, at imperdiet dui lacinia. Sed ut bibendum nunc. Ut vitae varius risus, et iaculis est. Duis tristique pulvinar luctus. Nulla ac purus vitae risus malesuada semper. Etiam ut sem eros. Fusce risus nisi, suscipit vestibulum hendrerit et, faucibus ut risus. Sed a justo massa. Maecenas elementum a odio a malesuada. Vivamus posuere cursus pretium. Sed tortor eros, pellentesque id pulvinar mollis, elementum quis diam.
        p Integer nec metus quis ligula dictum laoreet. Cras cursus non est vel faucibus. Duis et diam nec urna laoreet rutrum eget eget augue. Aliquam non porta tellus. Sed aliquet dictum neque et venenatis. Ut tellus felis, pulvinar in orci nec, malesuada elementum mi. Aliquam tincidunt nec nisi in tincidunt. Curabitur maximus, neque vitae consectetur euismod, nulla tellus venenatis felis, vel ultrices risus ligula et leo. Nullam est justo, eleifend eget commodo non, ornare a nisl. Phasellus eu neque vitae odio tempor convallis. Vestibulum ultrices est sed elit vulputate, et condimentum turpis sagittis. Maecenas eu neque vitae justo faucibus auctor. In vitae nisl nisl. Vestibulum a mi interdum, vehicula magna eu, consequat nibh.
        p In venenatis erat eu lacus porta viverra. Fusce vulputate mi condimentum mauris dictum tincidunt. Etiam sit amet viverra magna. Phasellus sit amet elit quam. Cras dictum molestie ullamcorper. Cras fringilla nisi ac nunc laoreet egestas. Sed gravida ornare massa, a pharetra nibh imperdiet quis.
        p Phasellus dignissim sagittis tincidunt. Nam a quam pretium dolor venenatis laoreet eu a diam. Mauris rhoncus nibh non ipsum ornare vulputate. Suspendisse luctus rhoncus nibh. Nam et enim ac dolor tempus tempor. Donec sit amet ullamcorper risus. Nullam enim turpis, lacinia eu risus eu, pellentesque sollicitudin neque. Quisque eu augue vestibulum, elementum lacus in, rutrum felis. In ultrices justo a enim tincidunt, vel laoreet justo semper. Nam consectetur, mauris in ornare tristique, purus ligula aliquet libero, ac facilisis nibh leo a odio. Suspendisse potenti. Aenean nec mauris malesuada, laoreet velit vitae, varius turpis. Proin nunc neque, feugiat pellentesque nunc et, tincidunt rutrum ex. Fusce non nulla dignissim mauris dapibus iaculis quis in felis. In ultricies a ex id congue. Vivamus facilisis fringilla dolor id sagittis.
        p Integer odio dolor, dictum a nisi sit amet, iaculis scelerisque erat. Fusce metus tellus, volutpat eget scelerisque a, tempor in elit. Fusce vel scelerisque enim, quis bibendum augue. Nullam sed ultrices neque. Etiam id nunc maximus, varius ipsum nec, ullamcorper augue. Praesent id enim in libero consequat accumsan. Nunc ac feugiat quam. Duis tortor leo, aliquet non leo non, hendrerit aliquet quam.
        p Donec vehicula tellus at sodales rhoncus. Maecenas eget lobortis tortor. Nunc sit amet sem vel ante sagittis maximus in eu augue. Donec ultricies accumsan nibh, vitae mollis dolor gravida at. Vivamus convallis finibus tortor in luctus. In scelerisque, turpis dignissim mollis malesuada, eros massa luctus erat, nec placerat urna augue ac augue. Cras bibendum mi sit amet hendrerit porta. Duis feugiat, ligula facilisis dignissim fermentum, lacus ex sodales metus, pharetra sollicitudin dui velit a arcu. Sed sollicitudin molestie scelerisque. Sed iaculis quis dolor eu aliquam. In in leo blandit massa vestibulum feugiat. Ut eleifend pellentesque dolor, eget egestas odio consectetur nec. In nunc risus, volutpat eget sodales at, sollicitudin a lacus. Donec ipsum velit, maximus sed arcu quis, pulvinar pharetra arcu. Maecenas a purus libero. Pellentesque maximus tortor nec sem fermentum varius.
block scripts
    script(src="js/main.js")
    script(src="js/slides.js")
    script(src="js/scroll-bar.js")
    
