doctype
html(lang='en')
    head
        link(rel="shortcut icon" href="images/u_favicon.ico" type="image/x-icon")
        link(rel="stylesheet", href="css/style.css")
        script(src="libs/jquery.js")
        script(src="libs/smooth-scrollbar.js")
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width")
        meta(content="width=1180" name="viewport" id="viewport")
        title UltimaCraft
    body#smooth-scroll
        block header
            include ../views/modules/header.pug
        block main

        block footer
            include ../views/modules/footer.pug

        block scripts