mixin menu()
    menu.menu_bar
        ul.menu
            li.menu_button.active_page
                a.menu_link(href="index.html") Главная

            li.menu_button
                a.menu_link(href="index.html") Играть
                //- ul.sub_menu
                //-     li.sub_menu_button
                //-         div
                //-             a.menu_link(href="index.html") ultimacraft
                //-     li.sub_menu_button
                //-         div
                //-             a.menu_link(href="https://www.curseforge.com/minecraft/texture-packs/better-snow") snowier snow

            li.menu_button
                a.menu_link(href="index.html") Донат
            li.menu_button
                a.menu_link(href="index.html") Инфо