#bg
    background-image: url(../images/bg_pattern.jpg)
#page
    max-width: $page_width
    margin: 0 auto 0 auto
    box-sizing: border-box
    padding: 0 5vw 3vh 5vw
    background-color: $white
    box-shadow: 0 0 100px rgba($black, .25)

    .right, .left
        font-size: 3.6rem
        background: linear-gradient(0.25turn, rgba($blue, .25), $white)
        padding: .5rem 2rem
        font-weight: bold
        margin: $margin_between_boxes 0
    .right
        text-align: right
        background: linear-gradient(0.25turn, $white, rgba($blue, .25))