footer
    display: flex
    justify-content: center
    flex-direction: column
    flex-wrap: wrap
    @include dark()
        background-color: $darken_gray
        color: $lighten_gray
    @include light()
        background-color: $light_gray
        color: $lighten_gray
    @include none()
        background-color: $darken_gray
        color: $lighten_gray
    box-shadow: 0 0 20px 5px rgba($black, .25)
    padding: 6vh 20vw
    ul
        padding: 0
        min-width: 15rem
        list-style-type: none
    li
        @include breakpoint($d-phone)
            display: flex
            justify-content: center
        ul
            padding-left: 3rem
    a
        color: $blue
        font-size: 1.8rem
        font-weight: 500
        text-decoration: none
        line-height: 3rem
        transition: color .5s
        &:hover, &:focus
            color: $white
#copyright
    font-size: 1.8rem
    font-weight: 500
    margin: 0 auto
    margin-top: 6vh
    @include breakpoint($d-phone)
        font-size: 1.4rem

#navigation
    flex-wrap: wrap
    display: flex
    width: 100%
    margin: 0 auto
    box-sizing: border-box
    align-content: center
    justify-content: space-between
    flex-direction: row
    @include breakpoint($d-phone)
        flex-direction: column
        width: 100vw